<div class="project">
    <div class="project-meta">
        <div class="project-title">{% if lang=="DE" %}{{ proj.title_de }}{% else %}{{ proj.title }}{% endif %}</div>
        <div class="project-role">{{ proj.jobtitle }}</div>
        <div class="project-period">{{ proj.from }} – {{ proj.until }}</div>
    </div>

    <ul class="project-tasks">
        {% for task in proj.tasks %}
            <li class="project-task">
                {% if lang=="DE" %}{{ task.description_de | markdownify | safe  }}{% else %}{{ task.description | markdownify | safe}}{% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if proj.task_skills_summary %}
    <div class="project-skills">
        {% for s in proj.task_skills_summary %}
            {{ s }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
