<!DOCTYPE html>
<html>
<head>
<title>CV Builder</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="container">

<h1>CV Builder</h1>

<nav>
<a href="/">Dashboard</a> |
<a href="/skills">Skills</a> |
<a href="/jobtitles">Job Titles</a> |
<a href="/projects">Projects</a> |
<a href="/certificates">Certificates</a> |
<a href="/generate_index">Generate Index</a>
<a href="/export">Export</a>
</nav>

<hr>

{% block content %}{% endblock %}

</div>

</body>
</html>
